body{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    
    
    
    

}
.item{
    padding: 10px 40px;
    background-color: grey;
    color: white;
    font-size: 36px;
    text-align: center;
    flex: auto;
    
  
    
}
@media (max-width:900px) {
    .menu{
        flex-direction: column;
        
    }
    
}